@font-face {
    font-family: 'Anek Bangla';
    src: url('../fonts/AnekBangla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Anek Bangla';
    src: url('../fonts/AnekBangla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Anek Bangla';
    src: url('../fonts/AnekBangla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Anek Bangla';
    src: url('../fonts/AnekBangla-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}